<section class="pt-2 pb-3 layout-content">
    <div class="p-2">
        <div class="flex justify-content-between pb-4">
            <div class="inversion__header">
                <h1>Mis inversiones realizadas</h1>
            </div>
            <div class="inversion__group">
                <p-button label="Agregar Inversión" [rounded]="true" size="small" icon="pi pi-plus"
                    [routerLink]="['/dashboard/opportunities/auction']"
                    [style]="{'background-color': 'var(--sidebar-color)','border-color':'var(--sidebar-color)'}"></p-button>
            </div>
        </div>
        <p-card class="shadow-light">
            <p-tabView (activeIndexChange)="onTabChange($event)" [activeIndex]="activeIndexTab">
                <p-tabPanel header="A tiempo">

                    <shared-table *ngIf="!(tableNoData);else noData" [config]="configTable"
                        (lazyLoadEmitter)="getInvestmentsByCurrentUser(enableValue,$event)"
                        (currentPagePaginator)="getInvestmentsByCurrentUser(enableValue,$event)"></shared-table>
                    <ng-template #noData>
                        <div class="p-2">
                            <p-panel header="Oops...">
                                <p>
                                    Lo sentimos, no tiene ninguna inversion aún. :(
                                </p>
                            </p-panel>
                        </div>
                    </ng-template>

                </p-tabPanel>
                <p-tabPanel header="Pagadas">
                    <shared-table *ngIf="!(tableNoData);else noData2" [config]="configTable"
                        (lazyLoadEmitter)="getInvestmentsByCurrentUser(enableValue,$event)"
                        (currentPagePaginator)="getInvestmentsByCurrentUser(enableValue,$event)"></shared-table>
                    <ng-template #noData2>
                        <div class=" p-2">
                            <p-panel header="Oops...">
                                <p>
                                    Lo sentimos, no tiene ninguna inversion pagada aún. :(
                                </p>
                            </p-panel>
                        </div>
                    </ng-template>
                </p-tabPanel>
            </p-tabView>
        </p-card>
    </div>
</section>