
:host ::ng-deep .card-table>:first-child>:first-child{
padding: 0;
}
:host ::ng-deep .tap-custom >:first-child{
  padding: 0 1.5rem;
}
:host
  ::ng-deep
  p-steps
  > nav
  > ul
  > li
  > a[aria-expanded="true"]
  > :nth-child(2) {
  font-weight: 700;
  color: var(--sidebar-color);
}

:host ::ng-deep p-calendar > span > :nth-child(2) {
  background: var(--sidebar-color);
  border-color: var(--sidebar-color);
}
