<div class="card">
  <p-table [value]="config.data" [columns]="config.columns" [loading]="config.loading" [rows]="rows" [lazy]="true"
    (onLazyLoad)="lazyLoadEmit($event)" styleClass="p-datatable-striped " [tableStyle]="{ 'min-width': '50rem' }"
    [rowHover]="true" #dt1>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" style="width:22%"
          [pSortableColumn]="col.value ? col.name+'.'+col.value : col.name">{{ col.head }} <p-sortIcon
          [field]=" col.value ? col.name+'.'+col.value : col.name "></p-sortIcon></th>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">{{ row[col.name] | setAttributeRowTable: col.value }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <p-paginator (onPageChange)="onPageChange($event)" [totalRecords]="config.totalElements"
        [rowsPerPageOptions]="[5,10,15]"></p-paginator>
    </ng-template>
  </p-table>
</div>