<div class="card">
  <p-table [value]="config.data" [columns]="config.columns" [loading]="config.loading" [rows]="config.rows"
    styleClass="p-datatable-striped " [tableStyle]="{ 'min-width': '50rem' }" [rowHover]="true" #dt>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.value ? col.name+'.'+col.value : col.name">
          <p *ngIf="!(col.head === 'Acciones'); else noActions" class="text-center">
            {{ col.head }}
            <p-sortIcon [field]=" col.value ? col.name+'.'+col.value : col.name "></p-sortIcon>
          </p>
          <ng-template #noActions>
            <p class="text-center">
              {{ col.head }}
            </p>
          </ng-template>
        </th>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row let-rowIndex="rowIndex" let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          <div class="flex justify-content-center flex-column lg:flex-row">
            <p *ngIf="!(col.highligh); else highligh" class="text-center" [ngClass]="!(col.boolean) ? '': 'p-boolean'">
              {{
              (row[col.name] | setAttributeRowTable:
              col.value) | booleansTable : col.head
              }}
            </p>
            <div *ngIf="col.plushCurrency " class="text-green-500 ml-1 flex justify-content-center">
              <span class="text-xs">+{{ (config.percentageList![rowIndex] ?? 0) |number: '1.2-2' }}%</span><i
                class="pi pi-arrow-up text-xs ml-1"></i>
            </div>
            <div *ngIf="col.buttons" class="flex justify-content-center gap-2">
              <p-confirmPopup></p-confirmPopup>
              <p-button *ngFor="let button of col.buttons" [icon]="button.icon" [outlined]="true" size="small"
                [routerLink]="button.routerLink ? button.routerLink + row.codigo : null" [severity]="button.severity"
                (click)="button.onClick ? confirm($event,button.onClick,row.codigo) :  null  "></p-button>
            </div>
          </div>
          <ng-template #highligh>
            <div class="flex justify-content-center">
              <p-tag severity="{{typeSeverity(row[col.name],col.value)}}"
                value="{{ (row[col.name] | setAttributeRowTable: col.value)  }}"></p-tag>
            </div>
          </ng-template>
        </td>

      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <p-paginator (onPageChange)="onPageChange($event)" [totalRecords]="config.totalElements"
        [rowsPerPageOptions]="[config.rows,(config.rows!+5),(config.rows!+10)]"></p-paginator>
    </ng-template>
  </p-table>
</div>