:host ::ng-deep .card__change-pass {
  display: block;
  width: 100%;
  max-width: 30rem;
  min-width: 18rem;
  z-index: 1;
}
.container {
  margin: -0.5rem;
}
:host ::ng-deep .custom-password > :first-child > :first-child {
  width: 100%;
  padding: 0.8rem 2.5rem;
}
.custom-button {
  width: 50%;
}

@media screen and (max-width: 576px) {
  :host ::ng-deep .custom-dialog > :first-child > :first-child {
    width: 95vw !important;
  }
}
