<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1600 800" preserveAspectRatio="none"
    class="fixed left-0 top-0 min-h-screen min-w-screen">
    <rect width="1600" height="800" fill="var(--primary-500)"></rect>
    <path
        d="M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z"
        fill="var(--primary-400)"></path>
    <path
        d="M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z"
        fill="var(--primary-300)"></path>
    <path
        d="M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z"
        fill="var(--primary-200)"></path>
    <path
        d="M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z"
        fill="var(--primary-100)"></path>
</svg>
<div class="flex justify-content-center align-content-center align-items-center h-screen w-screen container">
    <p-card class="card__change-pass">
        <form [formGroup]="myForm" class="grid grid-nogutter gap-2">
            <div class="col-12 p-2">
                <p class="font-bold text-2xl">Cambiar Contraseña</p>
                <span class="font-semibold text-color-secondary">Ingrese su nueva contraseña</span>
            </div>
            <div class="col-12 p-0">
                <div class="col-12 p-2">
                    <div class="field mb-1">
                        <span class="p-input-icon-left w-full">
                            <i class="pi pi-lock z-2"></i>
                            <p-password formControlName="passwordActual" [feedback]="false" [toggleMask]="true"
                                styleClass="w-full" class="custom-password"
                                placeholder="Contraseña actual"></p-password>
                        </span>
                    </div>
                    <small class="text-red-600" *ngIf="isValidField('passwordActual')">
                        {{ getFieldError('passwordActual') }}
                    </small>
                </div>
                <div class="col-12 p-2">
                    <div class="field mb-1">
                        <span class="p-input-icon-left w-full">
                            <i class="pi pi-lock z-2"></i>
                            <p-password formControlName="passwordNuevo" [feedback]="false" [toggleMask]="true"
                                styleClass="w-full" class="custom-password" placeholder="Contraseña nueva"></p-password>
                        </span>
                    </div>
                    <small class="text-red-600" *ngIf="isValidField('passwordNuevo')">
                        {{ getFieldError('passwordNuevo') }}
                    </small>
                </div>
            </div>
            <div class="flex justify-content-center gap-2 col-12 p-2">
                <p-button label="Cancelar" [outlined]="true" styleClass="w-full" class="custom-button"
                    [routerLink]="'/dashboard/home'"
                    [style]="{'border-color':'var(--sidebar-color)','color': 'var(--sidebar-color)'}"></p-button>
                <p-button label="Confirmar" styleClass="w-full" class="custom-button" (click)="confirm()"
                    [style]="{'background-color': 'var(--sidebar-color)','border-color':'var(--sidebar-color)'}"></p-button>
            </div>
        </form>
    </p-card>
</div>

<p-confirmDialog #cd [style]="{ width: '50vw' }" class="custom-dialog">
    <ng-template pTemplate="header">
        <h3>Seguro que desea cambiar la contraseña?</h3>
    </ng-template>
    <ng-template pTemplate="icon">
        <i class="pi pi-exclamation-triangle mr-2"></i>
    </ng-template>
    <ng-template pTemplate="message">
        <p> Este proceso no tiene retroceso!</p>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="grid grid-nogutter gap-2 justify-content-end ">
            <p-button type="button" icon="pi pi-times" label="No" severity="secondary" (click)="cd.reject()"></p-button>
            <p-button type="button" icon="pi pi-check" label="Si" severity="danger" (click)="cd.accept()"></p-button>
        </div>
    </ng-template>
</p-confirmDialog>