
  :host ::ng-deep .custom-p-card > .p-card > .p-card-body {
    padding: 1rem;
  }
  :host ::ng-deep .custom-p-card > .p-card > .p-card-body > .p-card-content {
    padding: 0;
  }

  :host ::ng-deep .custom-dropdown:first-child {
    border-color: #e24c4c;
  }
  
  :host ::ng-deep .custom-autocomplete > :first-child > :first-child {
    width: 100%;
  }
  
  :host ::ng-deep p-calendar > span > :nth-child(2) {
    background: var(--sidebar-color);
    border-color: var(--sidebar-color);
  }



