<section class="p-2 layout-content">
    <div class="flex flex-column gap-2 pb-3">
        <h1>Oportunidades de Inversión</h1>
        <span class="text-sm mt-1 text-color-secondary">Escoge una subasta en la que invertir.</span>
    </div>
    <div *ngIf="listOpportunities.length > 0;else emptyList" class="pb-2">
        <p-card class="shadow-light">
            <div class="grid grid-nogutter row-gap-3">
                <div class="col-12 md:col-6 xl:col-4 card-layout-ordered" *ngFor="let opportunity of listOpportunities">
                    <pages-card-opportunity-investment [opportunity]="opportunity" />
                </div>
            </div>
            <div class="mt-5">
                <p-paginator (onPageChange)="onPageChange($event)" [totalRecords]="totalElements!"
                    [rowsPerPageOptions]="[row,(row+5),(row+10)]"></p-paginator>
            </div>
        </p-card>
    </div>
    <ng-template #emptyList>
        <div class="flex justify-content-center align-items-center my-5">
            <div class="flex row-gap-3 flex-column">
                <div class="flex justify-content-center">
                    <img src="/assets/img/svg/empty.svg" alt="empty.svg" style="  width: 250px;">
                </div>
                <div class="text-center">
                    <p class="font-bold">No hay oportunidades todavía.</p>
                    <span class="text-color-secondary text-sm">Esta sección contiene la lista de oportunidades.</span>
                </div>
                <div *showForRoles class="flex justify-content-center">
                    <p-button label="Agregar" [rounded]="true" [outlined]="true" icon="pi pi-plus" [style]="style"
                        [routerLink]="['/dashboard/opportunities']" size="small"></p-button>
                </div>
            </div>
        </div>
    </ng-template>
</section>