<section class="p-2 h-full layout-content">
    <h1 class="py-2">Oportunidades de Inversión</h1>

    <div class="flex justify-content-center align-content-center align-content-center my-5">
        <div class="flex row-gap-3 flex-column justify-content-center align-content-center align-content-center">
            <div class="flex justify-content-center">
                <img src="/assets/img/svg/empty.svg" alt="empty.svg" style="  width: 250px;">
            </div>
            <div class="text-center">
                <p class="font-bold">No hay oportunidades todavía.</p>
                <span class="text-color-secondary text-sm">Esta sección contiene la lista de oportunidades.</span>
            </div>
            <div class="flex justify-content-center">
                <p-button label="Agregar" [rounded]="true" [outlined]="true" icon="pi pi-plus" [style]="style"
                    [routerLink]="['/dashboard/opportunities']" size="small"></p-button>
            </div>
        </div>
    </div>
</section>